body { overflow: hidden; }

@media screen and (max-aspect-ratio: 1/1)
{
    #back-button
    {
        position: absolute;
        top: 1%;
        left: 2.5%;
        width: auto;
        height: 5%;
    }
}

@media screen and (min-aspect-ratio: 1/1)
{
    #back-button
    {
        position: absolute;
        top: 2.5%;
        left: 1%;
        width: 5%;
        height: auto;
    }
}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 600px)
{
    #logo-container
    {
        position: absolute;
        top: 15%;
        left: 0%;
        width: 100%;
    }
}

@media screen and (max-aspect-ratio: 1/1) and (min-width: 600px)
{
    #logo-container
    {
        position: absolute;
        top: 5%;
        left: 0%;
        width: 100%;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1000px)
{
    #logo-container
    {
        position: absolute;
        top: 5%;
        left: 0%;
        width: 100%;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (min-width: 1000px)
{
    #logo-container
    {
        position: absolute;
        top: 1vw;
        left: 0%;
        width: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1)
{
    #logo
    {
        display: block;
        margin: auto;
        width: 50%;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (max-height: 450px)
{
    #logo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2.5%;
        width: 25%;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (min-height: 450px)
{
    #logo
    {
        display: block;
        margin: auto;
        width: 25%;
    }
}

sup
{
    vertical-align: top;
    font-size: 1vw;
}

#loading-screen
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}

#loading-text-container
{
    position: absolute;
    top: 41%;
    width: 100%;
    height: 3.5%;
}

@media screen and (max-aspect-ratio : 1/1)
{
    #loading-text
    {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        font-size: 1.2vh;
        font-weight: bold;
        font-family: 'Trade Gothic LT Std', sans-serif;
        color: rgb(230, 62, 48);
        letter-spacing: 0.1vw;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #loading-text
    {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        font-size: 1.2vw;
        font-weight: bold;
        font-family: 'Trade Gothic LT Std', sans-serif;
        color: rgb(230, 62, 48);
        letter-spacing: 0.1vw;
    }
}

@media screen and (max-aspect-ratio : 1/1)
{
    #loading-bar-container
    {
        position: absolute;
        top: 40%;
        width: 100%;
        height: 2.5vh;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #loading-bar-container
    {
        position: absolute;
        top: 40%;
        width: 100%;
        height: 3.5%;
    }
}

@media screen and (max-aspect-ratio : 1/1)
{
    #loading-bar-outer
    {
        width: 60%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1ch;
        border-color: rgb(230, 62, 48);
        border-style: solid;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #loading-bar-outer
    {
        width: 30%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1ch;
        border-color: rgb(230, 62, 48);
        border-style: solid;
    }
}

#loading-bar
{
    width: 0%;
    height: 100%;
    background: rgb(232, 117, 36, 0.5);
}

canvas
{
    position: absolute;
    top: 0%;
    left: 0%;
}

@media screen and (max-aspect-ratio : 1/1)
{
    #ar-button
    {
        position: absolute;
        top: 1%;
        right: 2.5%;
        width: auto;
        height: 5%;
        border-radius: 1ch;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #ar-button
    {
        position: absolute;
        top: 2.5%;
        right: 1%;
        width: 5%;
        height: auto;
        border-radius: 1ch;
    }
}

#video-screen
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#video-container
{
    position: relative;
    top: 25%;
    left: 0%;
}

#video-container-outer
{
    display: block;
    margin: auto;
}

@media screen and (max-aspect-ratio : 1/1)
{
    video
    {
        display: block;
        margin: auto;
        width: 90%;
        max-width: 600px;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    video
    {
        display: block;
        margin: auto;
        width: 40%;
    }
}

@media screen and (max-aspect-ratio : 1/1)
{
    #cross-icon-container
    {
        display: block;
        margin: auto;
        width: 78%;
        max-width: 550px;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #cross-icon-container
    {
        display: block;
        margin: auto;
        width: 37.5%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 700px)
{
    #cross-icon
    {
        position: absolute;
        top: 0%;
        right: 5%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 700px) and (max-widTh : 750px)
{
    #cross-icon
    {
        position: absolute;
        top: 0%;
        right: 8%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 750px) and (max-width : 810px)
{
    #cross-icon
    {
        position: absolute;
        top: 0%;
        right: 10%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 810px) and (max-width : 850px)
{
    #cross-icon
    {
        position: absolute;
        top: 0%;
        right: 12%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 850px)
{
    #cross-icon
    {
        position: absolute;
        top: 0%;
        right: 16%;
    }
}


@media screen and (min-aspect-ratio : 1/1)
{
    #cross-icon
    {
        position: absolute;
        top: 0%;
        right: 30%;
    }
}

@media screen and (max-height : 400px)
{
    .hotspot
    {
        width: 20px; 
        height: 20px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(232, 117, 36);
        background-color: rgb(221, 221, 221);
    }
}

@media screen and (min-height : 400px)
{
    .hotspot
    {
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(232, 117, 36);
        background-color: rgb(221, 221, 221);
    }
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #slider-container
    {
        position: absolute; 
        bottom: 7.5%; 
        left: 0%;
        width: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #slider-container
    {
        position: absolute; 
        bottom: 10%; 
        left: 0%;
        width: 100%;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (max-height : 600px)
{
    #slider-container
    {
        position: absolute; 
        bottom: 15%; 
        left: 0%;
        width: 100%;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (min-height : 600px)
{
    #slider-container
    {
        position: absolute; 
        bottom: 10%; 
        left: 0%;
        width: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #slider
    {
        width: 80%;
        max-width: 400px;
        display : block; 
        margin: auto;
        -webkit-appearance: none;
        border-radius: 5ch;  
        background: rgb(221, 221, 221);
        outline: none;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #slider
    {
        width: 60%;
        max-width: 400px;
        display : block; 
        margin: auto;
        -webkit-appearance: none;
        border-radius: 5ch;  
        background: rgb(221, 221, 221);
        outline: none;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #slider
    {
        display: block;
        margin: auto;
        width: 30%; 
        -webkit-appearance: none;
        border-radius: 5ch;  
        background: rgb(221, 221, 221);
        outline: none;
    }
}

@media screen and (max-aspect-ratio : 1/1)
{
    #slider::-webkit-slider-thumb 
    {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border-radius: 50%; 
        background-color: rgb(232, 117, 36);
        cursor: pointer;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #slider::-webkit-slider-thumb 
    {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border-radius: 50%;
        background-color: rgb(232, 117, 36);
        cursor: pointer;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #color-menu-container
    {
        position: absolute;
        bottom: 7.5%; 
        left: 0%;
        width: 100%;
        height: 10%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #color-menu-container
    {
        position: absolute;
        bottom: 10%; 
        left: 0%;
        width: 100%;
        height: 10%;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (max-height : 600px)
{
    #color-menu-container
    {
        position: absolute;
        bottom: 15%;
        left: 0%;
        width: 100%;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (min-height : 600px)
{
    #color-menu-container
    {
        position: absolute;
        bottom: 10%;
        left: 0%;
        width: 100%;
    }
}

#color-menu-outer
{
    display: block;
    margin: auto;
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #color-menu
    {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        gap: 6%;
        height: 100%;
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
        width: 90%;
        max-width: 500px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 2ch;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #color-menu
    {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        gap: 6%;
        height: 100%;
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
        width: 60%;
        max-width: 500px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 2ch;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (max-width : 700px)
{
    #color-menu
    {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        gap: 6%;
        height: 100%;
        margin: auto;
        padding: 1%;
        width: 20%;
        min-width: 200px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 2ch;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (min-width : 700px) and (max-width : 1000px)
{
    #color-menu
    {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        gap: 6%;
        height: 100%;
        margin: auto;
        padding: 1%;
        width: 40%;
        max-width: 300px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 2ch;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (min-width : 1000px)
{
    #color-menu
    {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        gap: 6%;
        height: 100%;
        margin: auto;
        width: 30%;
        padding: 1%;
        min-width: 200px;
        background-color: rgba(0, 0, 0, 0);
    }
}

@media screen and (max-height : 400px)
{
    .color-item
    {
        display: block;
        margin: auto;
        width: 20px; 
        height: 20px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(232, 117, 36);
    }
}

@media screen and (min-height : 400px)
{
    .color-item
    {
        display: block;
        margin: auto;
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(232, 117, 36);
    }
}

.color-item:hover
{
    transform: scale(1.2);
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #nav-bar-container
    {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 5%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #nav-bar-container
    {
        position: absolute;
        bottom: 2%;
        left: 0%;
        width: 100%;
        height: 5%;
    }
}

@media screen and (min-aspect-ratio : 1/1) and (max-height : 600px)
{
    #nav-bar-container
    {
        position: absolute;
        bottom: 1%;
        left: 0%;
        width: 100%;
        height: 10%;
    }  
}

@media screen and (min-aspect-ratio : 1/1) and (min-height : 600px)
{
    #nav-bar-container
    {
        position: absolute;
        bottom: 2%;
        left: 0%;
        width: 100%;
        height: 5%;
    }  
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #nav-bar-outer
    {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #nav-bar-outer
    {
        display: block;
        margin: auto;
        width: 60%;
        height: 100%;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #nav-bar-outer
    {
        display: block;
        margin: auto;
        width: 30%;
        height: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    #nav-bar
    {
        display: flex;
        background: rgb(221, 221, 221);
        height: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    #nav-bar
    {
        display: flex;
        border-radius: 1ch;
        background: rgb(221, 221, 221);
        height: 100%;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    #nav-bar
    {
        display: flex;
        border-radius: 1ch;
        background: rgb(221, 221, 221);
        height: 100%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (max-width : 500px)
{
    .nav-bar-item-outer-selected
    {
        background-color: rgb(232, 117, 36);
        width: 33.33%;
    }
}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 500px)
{
    .nav-bar-item-outer-selected
    {
        background-color: rgb(232, 117, 36);
        border-radius: 1ch;
        width: 33.33%;
    }
}

@media screen and (min-aspect-ratio : 1/1)
{
    .nav-bar-item-outer-selected
    {
        background-color: rgb(232, 117, 36);
        border-radius: 1ch;
        width: 33.33%;
    }
}

.nav-bar-item-outer
{
    width: 33.33%;
}

.nav-bar-item
{
    position: relative;
    top: 25%;
}

img.nav-bar-icon
{
    display: block;
    margin: auto;
    height: 50%;
}